@keyframes show-toast {
  0% {
    bottom: -100%;
  }
  20% {
    bottom: 100px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: -100%;
  }
}messages

.show-notification {
  position: fixed;
  bottom: 10%;
  right: 20px;
  animation-name: show-toast;
  animation-duration: 3s;
  z-index: 99;
}




  .more_btn {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block; }

  .more_btn a{
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    color: #2f89fc;
    position: relative; }

  .more_btn a:hover {
    color: #fff; }

  .blog-btn {
    list-style: none;
    margin: 0 10px 10px 0;
  }
  .blog-btn a{
    display: block;
    background: rgba(255, 255, 255, 0.05);
    position: relative;
  }
  .blog-btn a:hover {
    color: #fff; }

